---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p class="mb-4">
			<ul class="list-disc space-y-1 pl-6">
				<li>
					You might know me as Pylix (or @pylixonly), or maybe by my real name — either way, it's
					still me.
				</li>
				<li>My birthday’s on December 23rd — feel free to drop a wish when the time comes! 🎂</li>
				<li>I enjoy reverse-engineering apps and video games just for fun.</li>
				<li>I like tinkering with tech — software, hardware, or anything in between.</li>
				<li>When I’m not breaking things, I’m probably procrastinating something important.</li>
				<li>A certified professional idiot, stupid beyond repair — call it what you like!</li>
			</ul>
		</p>
	</div>
</PageLayout>
